/* mixins
----------------------------------------------------------------------------- */
/*
media queries @mixin mq($query) {
    @media (min-width: $query) {
        @content;
    }
}

@mixin wrap {
    padding-left: 1rem;
    padding-right: 1rem;

    @include mq($break-big) {
        padding-left: 11.11%;
        padding-right: 11.11%;
    }
}

@mixin insulate {
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include mq($break-big) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@mixin clear {
    content: '';
    display: table;
    clear: both;
}

@mixin center {
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    box-shadow: $shadow-basic;
}
*/
