/* wordpress specific styles
----------------------------------------------------------------------------- */

.alignleft {
    margin-right: 1rem;
    float: left;
}

.alignright {
    margin-left: 1rem;
    float: right;
}

.aligncenter {
    margin: 0 auto;
}

// find it and weep.....
.wp-video {
    // styles
}
