/* Work
----------------------------------------------------------------------------- */
.work {
    .title {
        font-size: var(--font-title);
        font-weight: var(--weight-regular);
    }

    .link {
        color: var(--black);
    }
}
